@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
    color: #3a3a3a;
}

/* headings and logo */
h1, h2 {
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 340%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu, #logo {
    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#tagline {
    clear: both;
    margin-left: 30px;
}

/* hero image */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/men-playing-chess-reduced.jpg') no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#cover-text {
    font-size: 130%;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* creates zoom for hero image */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

/*event styling*/

.events {
    margin-left: 30px;
}

#events-title 
{
    font-size: 280%;
    text-align: center;
    margin: 20px 0;
 }

/*contact details*/

.contact-details {
    margin-left: 30px;
}
    
/* footer styling */

footer {
height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* coffee shop ethos */

#club-ethos {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: white;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#center-cover-bg {
background: url('../images/latte-coffee-set-reduced.jpg') no-repeat center center;
max-width: 100%;
height: 400px;
}

/* gallery images */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;    
}

/*register  page */

#signup {
    clear: both;
    margin-left: 30px;
}

#contact {
    margin-left: 30px;
    clear: both;
}

#button-one {
    background-color: #3a3a3a;
    color: white;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
    text-align: center;
    display: block;
    border-radius: 4px;
    margin: 8px 0;
}

#button-two {
    background-color: #3a3a3a;
    color: white;
    border: none;
    font-size: 20px;
    padding: 12px 28px;
    text-align: center;
    display: block;
    border-radius: 4px;
    margin: 8px 0;
}

#button-one:hover {
    background-color: #195905;
    color: white;
  }

#button-two:hover {
    background-color: #d11818;
    color: white;
  }

#button-one:active {
    background-color: #195905;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#button-two:active {
    background-color: #d11818;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=text]:focus {
    border: 1px solid #555;
}

input[type="text"], input[type="email"] {
    outline: 1px solid #252525;
    margin: 5px 0;
    border-radius: 2px;
}

/* Tablet sized screens */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        font-size: 200%;
        text-align: center;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

    #signup {
        margin-left: 30px;
    }
    
    #contact {
        margin-left: 30px;
    }

    #events-title {
    font-size: 200%;
    }
}

/* css for screen sizes 950px wide and down */

@media screen and (max-width: 950px) {

#menu {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
}

#club-ethos {
    width: 90%;
    height: 1200px;
    margin: 0 auto;
}

.left-about-heading, .right-about-heading {
    width: inherit;
}

.left-about-heading h2, .right-about-heading h2 {
    width: 100%;
    text-align: center;
}

.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 0 20px;
}

#signup {
    margin-left: 10px;
}

#contact {
    margin-left: 10px;
}
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }

    #logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
    }

    #menu {
    margin-left: 10px;
    display: block;
    float: left;
    }

    #tagline {
    clear: both;
    margin-left: 10px;
    }
}

@media screen and (max-width: 400px) {
    #menu {
    display: flex;
    flex-direction: row-reverse;
    }
}